<a href="https://colab.research.google.com/github/ALiMehran01/20SW008/blob/main/Lab_03_20sw008.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lab 03 To become familiar with functions and script in Python
Roll NO 20sw008
Section 2

Task-01

In [1]:
def population_density(population, land_area):
    return population / land_area

test1 = population_density(10, 1)
expected_result1 = 10
print("expected result: {}, actual result: {}".format(expected_result1, test1))

test2 = population_density(864816, 121.4)
expected_result2 = 7123.6902801
print("expected result: {}..., actual result: {}".format(expected_result2, test2))

expected result: 10, actual result: 10.0
expected result: 7123.6902801..., actual result: 7123.690280065897

Task-02

In [2]:
def readable_timedelta(days):

    week = int(days / 7)
    day = int(days % 7)
    return "{} week(s) and {} day(s)".format(week, day)

print(readable_timedelta(10))

1 week(s) and 3 day(s)

Task-03

In [3]:
numbers = [
              [34, 63, 88, 71, 29],
              [90, 78, 51, 27, 45],
              [63, 37, 85, 46, 22],
              [51, 22, 34, 11, 18]
           ]

def mean(num_list):
    return sum(num_list) / len(num_list)

averages = list(map(mean, numbers))
print(averages)

[57.0, 58.2, 50.6, 27.2]

Task-04

In [4]:
cities = ["New York City", "Los Angeles", "Chicago", "Mountain View", "Denver", "Boston"]

short_cities = list(filter(lambda city: len(city) < 10, cities))

print(short_cities)

['Chicago', 'Denver', 'Boston']

Task-05

In [5]:
names = input('Enter names seperated by commas: ').title().split(',')
assignments = input('Enter assignment counts seperated by commas: ').split(',')
grades = input('Enter grades separated by commas: ').split(',')

message = "Hi {},\n\nThis is a reminder that you have {} assignments left to \
submit before you can graduate. You're current grade is {} and can increase \
to {} if you submit all assignments before the due date.\n\n"

for name, assignment, grade in zip(names, assignments, grades):
    print(message.format(name, assignment, grade, int(grade) + int(assignment) * 2))

Enter names seperated by commas: a, l,i
Enter assignment counts seperated by commas: 3
Enter grades separated by commas: 2
Hi A,

This is a reminder that you have 3 assignments left to submit before you can graduate. You're current grade is 2 and can increase to 8 if you submit all assignments before the due date.

Task-06

In [ ]:
with open("/content/drive/MyDrive/camelot.txt") as song:
    print(song.read(2))
    print(song.read(8))
    print(song.read())

camelot_lines = []
with open("/content/drive/MyDrive/camelot.txt") as f:
    for line in f:
        camelot_lines.append(line.strip())

print(camelot_lines)

Task-07

In [ ]:
def create_cast_list(filename):
    cast_list = []
    # use with to open the file filename
    with open("/content/drive/MyDrive/flying_circus_cast.txt") as f:
        # use the for loop syntax to process each line
        # and add the actor name to cast_list
        for line in f:
            line_data = line.split(',')
            cast_list.append(line_data[0])
    return cast_list


print(create_cast_list('flying_circus_cast.txt'))